Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/1.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
		xmlns:ns10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"
		xmlns:ns11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
		xmlns:ns12="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
		xmlns:ns13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
		xmlns:ns14="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
		xmlns:ns15="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
		xmlns:ns16="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"
		xmlns:ns17="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"
		xmlns:ns18="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
		xmlns:ns19="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
		xmlns:ns20="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
		xmlns:ns21="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"
		xmlns:ns22="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"
		xmlns:ns23="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"
		xmlns:ns24="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"
		xmlns:ns25="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
		xmlns:ns26="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"
		xmlns:ns3="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
		xmlns:ns4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns5="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
		xmlns:ns6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
		xmlns:ns7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"
		xmlns:ns8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"
		xmlns:ns9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"
		xmlns:tns="Wcf.ClientService.Client.WebAPI.TS3"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="Wcf.ClientService.Client.WebAPI.TS3">
	<xs:import schemaLocation="file://2.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"/>
	<xs:import schemaLocation="file://5.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"/>
	<xs:import schemaLocation="file://6.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"/>
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://7.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"/>
	<xs:import schemaLocation="file://8.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"/>
	<xs:import schemaLocation="file://9.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"/>
	<xs:import schemaLocation="file://10.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"/>
	<xs:import schemaLocation="file://11.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"/>
	<xs:import schemaLocation="file://12.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"/>
	<xs:import schemaLocation="file://13.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"/>
	<xs:import schemaLocation="file://14.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"/>
	<xs:import schemaLocation="file://15.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"/>
	<xs:import schemaLocation="file://16.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"/>
	<xs:import schemaLocation="file://17.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"/>
	<xs:import schemaLocation="file://18.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"/>
	<xs:import schemaLocation="file://19.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"/>
	<xs:import schemaLocation="file://20.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"/>
	<xs:import schemaLocation="file://21.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"/>
	<xs:import schemaLocation="file://22.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"/>
	<xs:import schemaLocation="file://23.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"/>
	<xs:import schemaLocation="file://24.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"/>
	<xs:import schemaLocation="file://25.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"/>
	<xs:import schemaLocation="file://26.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"/>
	<xs:import schemaLocation="file://27.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"/>
	<xs:import schemaLocation="file://28.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"/>
	<xs:element name="GetFindTyre">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q1:FindTyreFilter"/>
				<xs:element minOccurs="0"
						name="page"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFindTyreResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
						minOccurs="0"
						name="GetFindTyreResult"
						nillable="true"
						type="q2:ResultFindTyre"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFindDisk">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q3:FindDiskFilter"/>
				<xs:element minOccurs="0"
						name="page"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFindDiskResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
						minOccurs="0"
						name="GetFindDiskResult"
						nillable="true"
						type="q4:ResultFindDisk"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsPriceRestByCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q5:GoodsPriceRestFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsPriceRestByCodeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
						minOccurs="0"
						name="GetGoodsPriceRestByCodeResult"
						nillable="true"
						type="q6:GetGoodsPriceRestByCodeResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
						minOccurs="0"
						name="code_list"
						nillable="true"
						type="q7:ArrayOfstring"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
						minOccurs="0"
						name="GetGoodsInfoResult"
						nillable="true"
						type="q8:ResultGetGoodsInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsByCar">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q9:GetGoodsByCarFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetGoodsByCarResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
						minOccurs="0"
						name="GetGoodsByCarResult"
						nillable="true"
						type="q10:GetGoodsByCarResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetMarkaAvto">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetMarkaAvtoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"
						minOccurs="0"
						name="GetMarkaAvtoResult"
						nillable="true"
						type="q11:GetMarkaAvtoResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetModelAvto">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="marka"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetModelAvtoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"
						minOccurs="0"
						name="GetModelAvtoResult"
						nillable="true"
						type="q12:GetModelAvto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetYearAvto">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="marka"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="model"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetYearAvtoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"
						minOccurs="0"
						name="GetYearAvtoResult"
						nillable="true"
						type="q13:GetYearAvto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetModificationAvto">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="marka"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="model"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="year_beg"
						type="xs:int"/>
				<xs:element minOccurs="0"
						name="year_end"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetModificationAvtoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"
						minOccurs="0"
						name="GetModificationAvtoResult"
						nillable="true"
						type="q14:GetModificationAvto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetRest">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
						minOccurs="0"
						name="list"
						nillable="true"
						type="q15:ArrayOfRestList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetRestResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
						minOccurs="0"
						name="SetRestResult"
						nillable="true"
						type="q16:setRestResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetPrice">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
						minOccurs="0"
						name="list"
						nillable="true"
						type="q17:ArrayOfPriceList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetPriceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
						minOccurs="0"
						name="SetPriceResult"
						nillable="true"
						type="q18:setPriceResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
						minOccurs="0"
						name="order"
						nillable="true"
						type="q19:Order"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
						minOccurs="0"
						name="CreateOrderResult"
						nillable="true"
						type="q20:CreateOrderResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetChangeOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q21:FindChangeOrderFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetChangeOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
						minOccurs="0"
						name="GetChangeOrderResult"
						nillable="true"
						type="q22:GetChangeOrderResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="statusID"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
						minOccurs="0"
						name="SetOrderStatusResult"
						nillable="true"
						type="q23:ClientSoapResultDM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderStatusSatellite">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="statusID"
						type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderStatusSatelliteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
						minOccurs="0"
						name="SetOrderStatusSatelliteResult"
						nillable="true"
						type="q24:ClientSoapResultDM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q25:FindOrderFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"
						minOccurs="0"
						name="GetOrderStatusResult"
						nillable="true"
						type="q26:ArrayOfGetOrderStatusResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetMergeOrders">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
						minOccurs="0"
						name="orderNumber_list"
						nillable="true"
						type="q27:ArrayOfstring"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetMergeOrdersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"
						minOccurs="0"
						name="SetMergeOrdersResult"
						nillable="true"
						type="q28:SetMergeOrdersResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="date"
						nillable="true"
						type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
						minOccurs="0"
						name="GetOrderInfoResult"
						nillable="true"
						type="q29:GetOrderInfoResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStatusList">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStatusListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"
						minOccurs="0"
						name="GetStatusListResult"
						nillable="true"
						type="q30:ArrayOfGetStatusListResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderComment">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
						minOccurs="0"
						name="filter"
						nillable="true"
						type="q31:FindOrderCommentFilter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOrderCommentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
						minOccurs="0"
						name="GetOrderCommentResult"
						nillable="true"
						type="q32:GetOrderCommentResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUserList">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUserListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"
						minOccurs="0"
						name="GetUserListResult"
						nillable="true"
						type="q33:GetUserListResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderComment">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="comment"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="isForManagerPISH"
						type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetOrderCommentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"
						minOccurs="0"
						name="SetOrderCommentResult"
						nillable="true"
						type="q34:SetOrderCommentResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCancelDelivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCancelDeliveryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"
						minOccurs="0"
						name="SetCancelDeliveryResult"
						nillable="true"
						type="q35:ResultSetCancelDelivery"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetDeliveryInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="orderNumber"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
						minOccurs="0"
						name="deliveryInfo"
						nillable="true"
						type="q36:DeliveryInfoContainer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetDeliveryInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"
						minOccurs="0"
						name="SetDeliveryInfoResult"
						nillable="true"
						type="q37:SetDeliveryInfoResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetWarehouses">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetWarehousesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
						minOccurs="0"
						name="GetWarehousesResult"
						nillable="true"
						type="q38:GetWarehousesResult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ping">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PingResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="PingResult"
						type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetToMove">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0"
						name="login"
						nillable="true"
						type="xs:string"/>
				<xs:element minOccurs="0"
						name="password"
						nillable="true"
						type="xs:string"/>
				<xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"
						minOccurs="0"
						name="parameters"
						nillable="true"
						type="q39:params"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetToMoveResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
						minOccurs="0"
						name="SetToMoveResult"
						nillable="true"
						type="q40:ClientSoapResultDM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>