Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/13.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse">
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="ArrayOfRestList">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="RestList"
					nillable="true"
					type="tns:RestList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfRestList"
			nillable="true"
			type="tns:ArrayOfRestList"/>
	<xs:complexType name="RestList">
		<xs:sequence>
			<xs:element name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element name="rest"
					type="xs:int"/>
			<xs:element name="wrh"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RestList"
			nillable="true"
			type="tns:RestList"/>
	<xs:complexType name="setRestResult">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q1:Error"/>
			<xs:element minOccurs="0"
					name="error_list"
					nillable="true"
					type="tns:ArrayOfRestListError"/>
			<xs:element minOccurs="0"
					name="success"
					type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="setRestResult"
			nillable="true"
			type="tns:setRestResult"/>
	<xs:complexType name="ArrayOfRestListError">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="RestListError"
					nillable="true"
					type="tns:RestListError"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfRestListError"
			nillable="true"
			type="tns:ArrayOfRestListError"/>
	<xs:complexType name="RestListError">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="err"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="wrh"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RestListError"
			nillable="true"
			type="tns:RestListError"/>
</xs:schema>