Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/15.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder">
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="base_order"
					nillable="true"
					type="tns:BaseOrder"/>
			<xs:element minOccurs="0"
					name="comment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="createBonus"
					nillable="true"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="deliveryInfo"
					nillable="true"
					type="tns:DeliveryInfoContainer"/>
			<xs:element minOccurs="0"
					name="is_test"
					type="xs:boolean"/>
			<xs:element name="product_list"
					nillable="true"
					type="tns:ArrayOfOrderProduct"/>
			<xs:element minOccurs="0"
					name="skip_error_61"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="useBonus"
					type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Order"
			nillable="true"
			type="tns:Order"/>
	<xs:complexType name="BaseOrder">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="address"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="city"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="clientCreateBonus"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="clientID"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="clientUseBonus"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="comment"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="deliveryType"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="email"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="fio"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="isMarketOrder"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="orderNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="payType"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="phone"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BaseOrder"
			nillable="true"
			type="tns:BaseOrder"/>
	<xs:complexType name="DeliveryInfoContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="building"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="building2"
					nillable="true"
					type="xs:string"/>
			<xs:element name="city"
					nillable="true"
					type="xs:string"/>
			<xs:element name="contact"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="deliveryData"
					nillable="true"
					type="tns:deliveryDatePeriod"/>
			<xs:element name="house"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="note"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="office"
					nillable="true"
					type="xs:string"/>
			<xs:element name="paymentType"
					type="xs:int"/>
			<xs:element name="street"
					nillable="true"
					type="xs:string"/>
			<xs:element name="telephone"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DeliveryInfoContainer"
			nillable="true"
			type="tns:DeliveryInfoContainer"/>
	<xs:complexType name="deliveryDatePeriod">
		<xs:sequence>
			<xs:element name="date"
					type="xs:dateTime"/>
			<xs:element name="time"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="deliveryDatePeriod"
			nillable="true"
			type="tns:deliveryDatePeriod"/>
	<xs:complexType name="ArrayOfOrderProduct">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="OrderProduct"
					nillable="true"
					type="tns:OrderProduct"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfOrderProduct"
			nillable="true"
			type="tns:ArrayOfOrderProduct"/>
	<xs:complexType name="OrderProduct">
		<xs:sequence>
			<xs:element name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="fixPrice"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="priceIn"
					type="xs:decimal"/>
			<xs:element name="quantity"
					type="xs:int"/>
			<xs:element name="wrh"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProduct"
			nillable="true"
			type="tns:OrderProduct"/>
	<xs:complexType name="CreateOrderResult">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="URL"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q1:Error"/>
			<xs:element minOccurs="0"
					name="error_product_list"
					nillable="true"
					type="tns:ArrayOfOrderProductError"/>
			<xs:element minOccurs="0"
					name="goods"
					nillable="true"
					type="tns:ArrayOfGoods"/>
			<xs:element minOccurs="0"
					name="orderNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="success"
					type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreateOrderResult"
			nillable="true"
			type="tns:CreateOrderResult"/>
	<xs:complexType name="ArrayOfOrderProductError">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="OrderProductError"
					nillable="true"
					type="tns:OrderProductError"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfOrderProductError"
			nillable="true"
			type="tns:ArrayOfOrderProductError"/>
	<xs:complexType name="OrderProductError">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="err"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="wrh"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductError"
			nillable="true"
			type="tns:OrderProductError"/>
	<xs:complexType name="ArrayOfGoods">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="Goods"
					nillable="true"
					type="tns:Goods"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfGoods"
			nillable="true"
			type="tns:ArrayOfGoods"/>
	<xs:complexType name="Goods">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="price"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="priceIn"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="price_rozn"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="price_satellite"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="quantity"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="wrh"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Goods"
			nillable="true"
			type="tns:Goods"/>
</xs:schema>