Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/16.xsd

<xs:schema xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders">
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="FindChangeOrderFilter">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="changed"
					type="xs:dateTime"/>
			<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="userIDs"
					nillable="true"
					type="q1:ArrayOfint"/>
			<xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="warehouses"
					nillable="true"
					type="q2:ArrayOfint"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FindChangeOrderFilter"
			nillable="true"
			type="tns:FindChangeOrderFilter"/>
	<xs:complexType name="GetChangeOrderResult">
		<xs:sequence>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q3:Error"/>
			<xs:element minOccurs="0"
					name="order_list"
					nillable="true"
					type="tns:ArrayOfChangedOrder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetChangeOrderResult"
			nillable="true"
			type="tns:GetChangeOrderResult"/>
	<xs:complexType name="ArrayOfChangedOrder">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="ChangedOrder"
					nillable="true"
					type="tns:ChangedOrder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfChangedOrder"
			nillable="true"
			type="tns:ArrayOfChangedOrder"/>
	<xs:complexType name="ChangedOrder">
		<xs:sequence>
			<xs:element name="changed"
					type="xs:dateTime"/>
			<xs:element name="isArchive"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="orderDate"
					type="xs:dateTime"/>
			<xs:element name="orderNumber"
					nillable="true"
					type="xs:string"/>
			<xs:element name="productVersion"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="serviceAccess"
					nillable="true"
					type="xs:int"/>
			<xs:element name="statusID"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="statusSatelliteID"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="userBusinessmanID"
					type="xs:int"/>
			<xs:element name="userID"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ChangedOrder"
			nillable="true"
			type="tns:ChangedOrder"/>
</xs:schema>