Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/2.xsd

<xs:schema xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires">
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="FindTyreFilter">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="brand_list"
					nillable="true"
					type="q1:ArrayOfstring"/>
			<xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="code_list"
					nillable="true"
					type="q2:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="diameter_max"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="diameter_min"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="height_max"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="height_min"
					nillable="true"
					type="xs:decimal"/>
			<xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="load_index"
					nillable="true"
					type="q3:ArrayOfstring"/>
			<xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="model_list"
					nillable="true"
					type="q4:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="reinforced"
					nillable="true"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="runflat"
					nillable="true"
					type="xs:boolean"/>
			<xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="season_list"
					nillable="true"
					type="q5:ArrayOfstring"/>
			<xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="speed_index"
					nillable="true"
					type="q6:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="thorn"
					nillable="true"
					type="xs:boolean"/>
			<xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="type_list"
					nillable="true"
					type="q7:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="width_max"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="width_min"
					nillable="true"
					type="xs:decimal"/>
			<xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="wrh_list"
					nillable="true"
					type="q8:ArrayOfint"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FindTyreFilter"
			nillable="true"
			type="tns:FindTyreFilter"/>
	<xs:complexType name="ResultFindTyre">
		<xs:sequence>
			<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="currencyRate"
					nillable="true"
					type="q9:CurrencyRate"/>
			<xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q10:Error"/>
			<xs:element minOccurs="0"
					name="price_rest_list"
					nillable="true"
					type="tns:ArrayOfTyrePriceRest"/>
			<xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="saleInfoList"
					nillable="true"
					type="q11:ArrayOfsaleInfo"/>
			<xs:element minOccurs="0"
					name="totalPages"
					type="xs:int"/>
			<xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="warehouseLogistics"
					nillable="true"
					type="q12:ArrayOfWarehouseLogistic"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResultFindTyre"
			nillable="true"
			type="tns:ResultFindTyre"/>
	<xs:complexType name="ArrayOfTyrePriceRest">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="TyrePriceRest"
					nillable="true"
					type="tns:TyrePriceRest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTyrePriceRest"
			nillable="true"
			type="tns:ArrayOfTyrePriceRest"/>
	<xs:complexType name="TyrePriceRest">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="saleId"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="season"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="thorn"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="type"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="whpr"
					nillable="true"
					type="q13:ArrayOfwh_price_rest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TyrePriceRest"
			nillable="true"
			type="tns:TyrePriceRest"/>
</xs:schema>