Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/20.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:ns3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo">
	<xs:import schemaLocation="file://15.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"/>
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:complexType name="GetOrderInfoResult">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
					minOccurs="0"
					name="base_order"
					nillable="true"
					type="q1:BaseOrder"/>
			<xs:element minOccurs="0"
					name="city"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="corps"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="date"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="driverNote"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q2:Error"/>
			<xs:element minOccurs="0"
					name="fio"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
					minOccurs="0"
					name="goods"
					nillable="true"
					type="q3:ArrayOfGoods"/>
			<xs:element minOccurs="0"
					name="house"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="manager"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="mergedOrders"
					nillable="true"
					type="q4:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="mergedTo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="needDelivery"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="office"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="orderNotes"
					nillable="true"
					type="tns:ArrayOfnote"/>
			<xs:element minOccurs="0"
					name="parent"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="payFormaKey"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="payFormaName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="phone"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="shipmentDate"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element minOccurs="0"
					name="statusKey"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="statusName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="street"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="subOrders"
					nillable="true"
					type="q5:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="timeTypeKey"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="timeTypeName"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="userBusinessmanID"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="userID"
					type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetOrderInfoResult"
			nillable="true"
			type="tns:GetOrderInfoResult"/>
	<xs:complexType name="ArrayOfnote">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="note"
					nillable="true"
					type="tns:note"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfnote"
			nillable="true"
			type="tns:ArrayOfnote"/>
	<xs:complexType name="note">
		<xs:sequence>
			<xs:element name="noteCreateDate"
					nillable="true"
					type="xs:dateTime"/>
			<xs:element name="noteText"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="note"
			nillable="true"
			type="tns:note"/>
</xs:schema>