Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/27.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses">
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="GetWarehousesResult">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q1:Error"/>
			<xs:element minOccurs="0"
					name="success"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="warehouses"
					nillable="true"
					type="tns:ArrayOfWarehouseInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetWarehousesResult"
			nillable="true"
			type="tns:GetWarehousesResult"/>
	<xs:complexType name="ArrayOfWarehouseInfo">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="WarehouseInfo"
					nillable="true"
					type="tns:WarehouseInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfWarehouseInfo"
			nillable="true"
			type="tns:ArrayOfWarehouseInfo"/>
	<xs:complexType name="WarehouseInfo">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="id"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="key"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="logisticDays"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WarehouseInfo"
			nillable="true"
			type="tns:WarehouseInfo"/>
</xs:schema>