Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/5.xsd

<xs:schema xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs">
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType xmlns:default="http://schemas.microsoft.com/2003/10/Serialization/"
			name="FindDiskFilter">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="bolts_count_max"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="bolts_count_min"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="bolts_spacing_max"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="bolts_spacing_min"
					type="xs:decimal"/>
			<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="brand_list"
					nillable="true"
					type="q1:ArrayOfstring"/>
			<xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="code_list"
					nillable="true"
					type="q2:ArrayOfstring"/>
			<xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="color_list"
					nillable="true"
					type="q3:ArrayOfstring">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
								EmitDefaultValue="false"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0"
					name="dia_max"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="dia_min"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="diameter_max"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="diameter_min"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="et_max"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="et_min"
					type="xs:decimal"/>
			<xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="model_list"
					nillable="true"
					type="q4:ArrayOfstring"/>
			<xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="type_list"
					nillable="true"
					type="q5:ArrayOfint"/>
			<xs:element minOccurs="0"
					name="width_max"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="width_min"
					type="xs:decimal"/>
			<xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="wrh_list"
					nillable="true"
					type="q6:ArrayOfint"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FindDiskFilter"
			nillable="true"
			type="tns:FindDiskFilter"/>
	<xs:complexType name="ResultFindDisk">
		<xs:sequence>
			<xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="currencyRate"
					nillable="true"
					type="q7:CurrencyRate"/>
			<xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q8:Error"/>
			<xs:element minOccurs="0"
					name="price_rest_list"
					nillable="true"
					type="tns:ArrayOfDiskPriceRest"/>
			<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="saleInfoList"
					nillable="true"
					type="q9:ArrayOfsaleInfo"/>
			<xs:element minOccurs="0"
					name="totalPages"
					type="xs:int"/>
			<xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="warehouseLogistics"
					nillable="true"
					type="q10:ArrayOfWarehouseLogistic"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResultFindDisk"
			nillable="true"
			type="tns:ResultFindDisk"/>
	<xs:complexType name="ArrayOfDiskPriceRest">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="DiskPriceRest"
					nillable="true"
					type="tns:DiskPriceRest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfDiskPriceRest"
			nillable="true"
			type="tns:ArrayOfDiskPriceRest"/>
	<xs:complexType name="DiskPriceRest">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="color"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="saleId"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="type"
					nillable="true"
					type="xs:int"/>
			<xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="whpr"
					nillable="true"
					type="q11:ArrayOfwh_price_rest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DiskPriceRest"
			nillable="true"
			type="tns:DiskPriceRest"/>
</xs:schema>