Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/7.xsd

<xs:schema xmlns:ns1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo">
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="ResultGetGoodsInfo">
		<xs:sequence>
			<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q1:Error"/>
			<xs:element minOccurs="0"
					name="fastenerList"
					nillable="true"
					type="tns:ArrayOfFastenerContainer"/>
			<xs:element minOccurs="0"
					name="rimList"
					nillable="true"
					type="tns:ArrayOfRimContainer"/>
			<xs:element minOccurs="0"
					name="sparePartList"
					nillable="true"
					type="tns:ArrayOfSparePartContainer"/>
			<xs:element minOccurs="0"
					name="tyreList"
					nillable="true"
					type="tns:ArrayOfTyreContainer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResultGetGoodsInfo"
			nillable="true"
			type="tns:ResultGetGoodsInfo"/>
	<xs:complexType name="ArrayOfFastenerContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="FastenerContainer"
					nillable="true"
					type="tns:FastenerContainer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfFastenerContainer"
			nillable="true"
			type="tns:ArrayOfFastenerContainer"/>
	<xs:complexType name="FastenerContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="brand"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="sub_type"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FastenerContainer"
			nillable="true"
			type="tns:FastenerContainer"/>
	<xs:complexType name="ArrayOfRimContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="RimContainer"
					nillable="true"
					type="tns:RimContainer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfRimContainer"
			nillable="true"
			type="tns:ArrayOfRimContainer"/>
	<xs:complexType name="RimContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="avto"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="base_color"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="bolt_spacing2"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="bolts_count"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="bolts_spacing"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="brand"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="color"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="dia"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="diameter"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="et"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="inset_type"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="logo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka_html"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka_logo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model_html"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="mount"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="mount_note"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="producer"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="type"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="use_ck"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="width"
					type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RimContainer"
			nillable="true"
			type="tns:RimContainer"/>
	<xs:complexType name="ArrayOfSparePartContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="SparePartContainer"
					nillable="true"
					type="tns:SparePartContainer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfSparePartContainer"
			nillable="true"
			type="tns:ArrayOfSparePartContainer"/>
	<xs:complexType name="SparePartContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="brand"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="sub_type"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SparePartContainer"
			nillable="true"
			type="tns:SparePartContainer"/>
	<xs:complexType name="ArrayOfTyreContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="TyreContainer"
					nillable="true"
					type="tns:TyreContainer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfTyreContainer"
			nillable="true"
			type="tns:ArrayOfTyreContainer"/>
	<xs:complexType name="TyreContainer">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="aquaplaning"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="axle"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="brand"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="camera"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="comfort"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="constr"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="diameter"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="diameter_out"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="height"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="load_index"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka_html"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka_logo"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marker_color"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model_html"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="moto_use"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="noise"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="omolog"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="passability"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="protection"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="protector_type"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="puncture"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="season"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="side"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="sloy"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="softness"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="speed_index"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="strengthening"
					nillable="true"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="sub_diameter"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="sub_diameter_out"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="subheight"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="subwidth"
					nillable="true"
					type="xs:decimal"/>
			<xs:element minOccurs="0"
					name="tech"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="thorn"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="thorn_type"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="tonnage"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="type"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="usa"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="use_type"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="wear_index"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="width"
					nillable="true"
					type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TyreContainer"
			nillable="true"
			type="tns:TyreContainer"/>
</xs:schema>