Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/8.xsd

<xs:schema xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:tns="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs">
	<xs:import schemaLocation="file://3.xsd"
			namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
	<xs:import schemaLocation="file://4.xsd"
			namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
	<xs:complexType name="GetGoodsByCarFilter">
		<xs:sequence>
			<xs:element name="marka"
					nillable="true"
					type="xs:string"/>
			<xs:element name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element name="modification"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="podbor_type"
					nillable="true"
					type="q1:ArrayOfint"/>
			<xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="season_list"
					nillable="true"
					type="q2:ArrayOfstring"/>
			<xs:element minOccurs="0"
					name="thorn"
					nillable="true"
					type="xs:boolean"/>
			<xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="type"
					nillable="true"
					type="q3:ArrayOfstring"/>
			<xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
					minOccurs="0"
					name="wrh_list"
					nillable="true"
					type="q4:ArrayOfint"/>
			<xs:element name="year_beg"
					nillable="true"
					type="xs:string"/>
			<xs:element name="year_end"
					nillable="true"
					type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetGoodsByCarFilter"
			nillable="true"
			type="tns:GetGoodsByCarFilter"/>
	<xs:complexType name="GetGoodsByCarResult">
		<xs:sequence>
			<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="currencyRate"
					nillable="true"
					type="q5:CurrencyRate"/>
			<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="error"
					nillable="true"
					type="q6:Error"/>
			<xs:element minOccurs="0"
					name="price_rest_list"
					nillable="true"
					type="tns:ArrayOfgoods_price_rest"/>
			<xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="saleInfoList"
					nillable="true"
					type="q7:ArrayOfsaleInfo"/>
			<xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="warehouseLogistics"
					nillable="true"
					type="q8:ArrayOfWarehouseLogistic"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetGoodsByCarResult"
			nillable="true"
			type="tns:GetGoodsByCarResult"/>
	<xs:complexType name="ArrayOfgoods_price_rest">
		<xs:sequence>
			<xs:element minOccurs="0"
					maxOccurs="unbounded"
					name="goods_price_rest"
					nillable="true"
					type="tns:goods_price_rest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfgoods_price_rest"
			nillable="true"
			type="tns:ArrayOfgoods_price_rest"/>
	<xs:complexType name="goods_price_rest">
		<xs:sequence>
			<xs:element minOccurs="0"
					name="code"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="color"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_my"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_big_pish"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="img_small"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="marka"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="model"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="name"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="saleId"
					nillable="true"
					type="xs:int"/>
			<xs:element minOccurs="0"
					name="season"
					nillable="true"
					type="xs:string"/>
			<xs:element minOccurs="0"
					name="thorn"
					type="xs:boolean"/>
			<xs:element minOccurs="0"
					name="type"
					nillable="true"
					type="xs:string"/>
			<xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
					minOccurs="0"
					name="whpr"
					nillable="true"
					type="q9:ArrayOfwh_price_rest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="goods_price_rest"
			nillable="true"
			type="tns:goods_price_rest"/>
</xs:schema>