Расширения/РасширениеСамойлов/WSReferences/PwrsWebService/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="Wcf.ClientService.Client.WebAPI.TS3"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="Wcf.ClientService.Client.WebAPI.TS3"
		xmlns:xsd10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
		xmlns:xsd11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
		xmlns:xsd12="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"
		xmlns:xsd13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"
		xmlns:xsd14="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"
		xmlns:xsd15="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
		xmlns:xsd16="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
		xmlns:xsd17="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
		xmlns:xsd18="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
		xmlns:xsd19="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
		xmlns:xsd2="Wcf.ClientService.Client.WebAPI.TS3/Imports"
		xmlns:xsd20="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
		xmlns:xsd21="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"
		xmlns:xsd22="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"
		xmlns:xsd23="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"
		xmlns:xsd24="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"
		xmlns:xsd25="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
		xmlns:xsd26="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
		xmlns:xsd27="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
		xmlns:xsd28="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"
		xmlns:xsd29="http://schemas.microsoft.com/2003/10/Serialization/"
		xmlns:xsd3="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
		xmlns:xsd30="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		xmlns:xsd4="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
		xmlns:xsd5="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"
		xmlns:xsd6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"
		xmlns:xsd7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"
		xmlns:xsd8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"
		xmlns:xsd9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
		name="ClientService"
		targetNamespace="Wcf.ClientService.Client.WebAPI.TS3">
	<types>
		<xsd:schema xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
				xmlns:ns1="http://schemas.microsoft.com/2003/10/Serialization/"
				xmlns:ns10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"
				xmlns:ns11="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"
				xmlns:ns12="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"
				xmlns:ns13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
				xmlns:ns14="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
				xmlns:ns15="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
				xmlns:ns16="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
				xmlns:ns17="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
				xmlns:ns18="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"
				xmlns:ns19="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"
				xmlns:ns2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
				xmlns:ns20="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
				xmlns:ns21="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"
				xmlns:ns22="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
				xmlns:ns23="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"
				xmlns:ns24="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"
				xmlns:ns25="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"
				xmlns:ns26="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"
				xmlns:ns27="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
				xmlns:ns28="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"
				xmlns:ns3="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
				xmlns:ns4="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"
				xmlns:ns5="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
				xmlns:ns6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
				xmlns:ns7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
				xmlns:ns8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
				xmlns:ns9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tns="Wcf.ClientService.Client.WebAPI.TS3/Imports"
				xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
				xmlns:wsa10="http://www.w3.org/2005/08/addressing"
				xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
				xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
				xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
				xmlns:xsd1="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"
				xmlns:xsd10="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"
				xmlns:xsd11="Wcf.ClientService.Client.WebAPI.TS3/Imports"
				xmlns:xsd13="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"
				xmlns:xsd14="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"
				xmlns:xsd15="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"
				xmlns:xsd16="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"
				xmlns:xsd17="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"
				xmlns:xsd18="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"
				xmlns:xsd19="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"
				xmlns:xsd2="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"
				xmlns:xsd20="Wcf.ClientService.Client.WebAPI.TS3"
				xmlns:xsd21="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"
				xmlns:xsd22="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"
				xmlns:xsd23="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"
				xmlns:xsd24="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"
				xmlns:xsd25="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"
				xmlns:xsd26="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"
				xmlns:xsd27="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"
				xmlns:xsd28="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
				xmlns:xsd29="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"
				xmlns:xsd30="http://schemas.microsoft.com/2003/10/Serialization/"
				xmlns:xsd4="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"
				xmlns:xsd6="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"
				xmlns:xsd7="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"
				xmlns:xsd8="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"
				xmlns:xsd9="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"
				targetNamespace="Wcf.ClientService.Client.WebAPI.TS3/Imports">
			<xsd:import schemaLocation="file://1.xsd"
					namespace="Wcf.ClientService.Client.WebAPI.TS3"/>
			<xsd:import schemaLocation="file://29.xsd"
					namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="file://2.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchTires"/>
			<xsd:import schemaLocation="file://3.xsd"
					namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
			<xsd:import schemaLocation="file://4.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService"/>
			<xsd:import schemaLocation="file://5.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchDiscs"/>
			<xsd:import schemaLocation="file://6.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsAndPricesInfo"/>
			<xsd:import schemaLocation="file://7.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsDetailedInfo"/>
			<xsd:import schemaLocation="file://8.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SearchProductsBySpecs"/>
			<xsd:import schemaLocation="file://9.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoBrands"/>
			<xsd:import schemaLocation="file://10.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModels"/>
			<xsd:import schemaLocation="file://11.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoYears"/>
			<xsd:import schemaLocation="file://12.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetAutoModifications"/>
			<xsd:import schemaLocation="file://13.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsQtyOnWarehouse"/>
			<xsd:import schemaLocation="file://14.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetProductsPrice"/>
			<xsd:import schemaLocation="file://15.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.CreateOrder"/>
			<xsd:import schemaLocation="file://16.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetChangedOrders"/>
			<xsd:import schemaLocation="file://17.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderStatus"/>
			<xsd:import schemaLocation="file://18.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderStatus"/>
			<xsd:import schemaLocation="file://19.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetMergeOrders"/>
			<xsd:import schemaLocation="file://20.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderInfo"/>
			<xsd:import schemaLocation="file://21.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetStatusList"/>
			<xsd:import schemaLocation="file://22.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetOrderComment"/>
			<xsd:import schemaLocation="file://23.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetUserList"/>
			<xsd:import schemaLocation="file://24.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetOrderComment"/>
			<xsd:import schemaLocation="file://25.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetCancelDelivery"/>
			<xsd:import schemaLocation="file://26.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetDeliveryInfo"/>
			<xsd:import schemaLocation="file://27.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.GetWarehouses"/>
			<xsd:import schemaLocation="file://28.xsd"
					namespace="http://schemas.datacontract.org/2004/07/TS3.Domain.Models.Client.ClientSoapService.SetToMove"/>
		</xsd:schema>
	</types>
	<message name="ClientService_GetFindTyre_InputMessage">
		<part name="parameters"
				element="tns:GetFindTyre"/>
	</message>
	<message name="ClientService_GetFindTyre_OutputMessage">
		<part name="parameters"
				element="tns:GetFindTyreResponse"/>
	</message>
	<message name="ClientService_GetFindDisk_InputMessage">
		<part name="parameters"
				element="tns:GetFindDisk"/>
	</message>
	<message name="ClientService_GetFindDisk_OutputMessage">
		<part name="parameters"
				element="tns:GetFindDiskResponse"/>
	</message>
	<message name="ClientService_GetGoodsPriceRestByCode_InputMessage">
		<part name="parameters"
				element="tns:GetGoodsPriceRestByCode"/>
	</message>
	<message name="ClientService_GetGoodsPriceRestByCode_OutputMessage">
		<part name="parameters"
				element="tns:GetGoodsPriceRestByCodeResponse"/>
	</message>
	<message name="ClientService_GetGoodsInfo_InputMessage">
		<part name="parameters"
				element="tns:GetGoodsInfo"/>
	</message>
	<message name="ClientService_GetGoodsInfo_OutputMessage">
		<part name="parameters"
				element="tns:GetGoodsInfoResponse"/>
	</message>
	<message name="ClientService_GetGoodsByCar_InputMessage">
		<part name="parameters"
				element="tns:GetGoodsByCar"/>
	</message>
	<message name="ClientService_GetGoodsByCar_OutputMessage">
		<part name="parameters"
				element="tns:GetGoodsByCarResponse"/>
	</message>
	<message name="ClientService_GetMarkaAvto_InputMessage">
		<part name="parameters"
				element="tns:GetMarkaAvto"/>
	</message>
	<message name="ClientService_GetMarkaAvto_OutputMessage">
		<part name="parameters"
				element="tns:GetMarkaAvtoResponse"/>
	</message>
	<message name="ClientService_GetModelAvto_InputMessage">
		<part name="parameters"
				element="tns:GetModelAvto"/>
	</message>
	<message name="ClientService_GetModelAvto_OutputMessage">
		<part name="parameters"
				element="tns:GetModelAvtoResponse"/>
	</message>
	<message name="ClientService_GetYearAvto_InputMessage">
		<part name="parameters"
				element="tns:GetYearAvto"/>
	</message>
	<message name="ClientService_GetYearAvto_OutputMessage">
		<part name="parameters"
				element="tns:GetYearAvtoResponse"/>
	</message>
	<message name="ClientService_GetModificationAvto_InputMessage">
		<part name="parameters"
				element="tns:GetModificationAvto"/>
	</message>
	<message name="ClientService_GetModificationAvto_OutputMessage">
		<part name="parameters"
				element="tns:GetModificationAvtoResponse"/>
	</message>
	<message name="ClientService_SetRest_InputMessage">
		<part name="parameters"
				element="tns:SetRest"/>
	</message>
	<message name="ClientService_SetRest_OutputMessage">
		<part name="parameters"
				element="tns:SetRestResponse"/>
	</message>
	<message name="ClientService_SetPrice_InputMessage">
		<part name="parameters"
				element="tns:SetPrice"/>
	</message>
	<message name="ClientService_SetPrice_OutputMessage">
		<part name="parameters"
				element="tns:SetPriceResponse"/>
	</message>
	<message name="ClientService_CreateOrder_InputMessage">
		<part name="parameters"
				element="tns:CreateOrder"/>
	</message>
	<message name="ClientService_CreateOrder_OutputMessage">
		<part name="parameters"
				element="tns:CreateOrderResponse"/>
	</message>
	<message name="ClientService_GetChangeOrder_InputMessage">
		<part name="parameters"
				element="tns:GetChangeOrder"/>
	</message>
	<message name="ClientService_GetChangeOrder_OutputMessage">
		<part name="parameters"
				element="tns:GetChangeOrderResponse"/>
	</message>
	<message name="ClientService_SetOrderStatus_InputMessage">
		<part name="parameters"
				element="tns:SetOrderStatus"/>
	</message>
	<message name="ClientService_SetOrderStatus_OutputMessage">
		<part name="parameters"
				element="tns:SetOrderStatusResponse"/>
	</message>
	<message name="ClientService_SetOrderStatusSatellite_InputMessage">
		<part name="parameters"
				element="tns:SetOrderStatusSatellite"/>
	</message>
	<message name="ClientService_SetOrderStatusSatellite_OutputMessage">
		<part name="parameters"
				element="tns:SetOrderStatusSatelliteResponse"/>
	</message>
	<message name="ClientService_GetOrderStatus_InputMessage">
		<part name="parameters"
				element="tns:GetOrderStatus"/>
	</message>
	<message name="ClientService_GetOrderStatus_OutputMessage">
		<part name="parameters"
				element="tns:GetOrderStatusResponse"/>
	</message>
	<message name="ClientService_SetMergeOrders_InputMessage">
		<part name="parameters"
				element="tns:SetMergeOrders"/>
	</message>
	<message name="ClientService_SetMergeOrders_OutputMessage">
		<part name="parameters"
				element="tns:SetMergeOrdersResponse"/>
	</message>
	<message name="ClientService_GetOrderInfo_InputMessage">
		<part name="parameters"
				element="tns:GetOrderInfo"/>
	</message>
	<message name="ClientService_GetOrderInfo_OutputMessage">
		<part name="parameters"
				element="tns:GetOrderInfoResponse"/>
	</message>
	<message name="ClientService_GetStatusList_InputMessage">
		<part name="parameters"
				element="tns:GetStatusList"/>
	</message>
	<message name="ClientService_GetStatusList_OutputMessage">
		<part name="parameters"
				element="tns:GetStatusListResponse"/>
	</message>
	<message name="ClientService_GetOrderComment_InputMessage">
		<part name="parameters"
				element="tns:GetOrderComment"/>
	</message>
	<message name="ClientService_GetOrderComment_OutputMessage">
		<part name="parameters"
				element="tns:GetOrderCommentResponse"/>
	</message>
	<message name="ClientService_GetUserList_InputMessage">
		<part name="parameters"
				element="tns:GetUserList"/>
	</message>
	<message name="ClientService_GetUserList_OutputMessage">
		<part name="parameters"
				element="tns:GetUserListResponse"/>
	</message>
	<message name="ClientService_SetOrderComment_InputMessage">
		<part name="parameters"
				element="tns:SetOrderComment"/>
	</message>
	<message name="ClientService_SetOrderComment_OutputMessage">
		<part name="parameters"
				element="tns:SetOrderCommentResponse"/>
	</message>
	<message name="ClientService_SetCancelDelivery_InputMessage">
		<part name="parameters"
				element="tns:SetCancelDelivery"/>
	</message>
	<message name="ClientService_SetCancelDelivery_OutputMessage">
		<part name="parameters"
				element="tns:SetCancelDeliveryResponse"/>
	</message>
	<message name="ClientService_SetDeliveryInfo_InputMessage">
		<part name="parameters"
				element="tns:SetDeliveryInfo"/>
	</message>
	<message name="ClientService_SetDeliveryInfo_OutputMessage">
		<part name="parameters"
				element="tns:SetDeliveryInfoResponse"/>
	</message>
	<message name="ClientService_GetWarehouses_InputMessage">
		<part name="parameters"
				element="tns:GetWarehouses"/>
	</message>
	<message name="ClientService_GetWarehouses_OutputMessage">
		<part name="parameters"
				element="tns:GetWarehousesResponse"/>
	</message>
	<message name="ClientService_Ping_InputMessage">
		<part name="parameters"
				element="tns:Ping"/>
	</message>
	<message name="ClientService_Ping_OutputMessage">
		<part name="parameters"
				element="tns:PingResponse"/>
	</message>
	<message name="ClientService_SetToMove_InputMessage">
		<part name="parameters"
				element="tns:SetToMove"/>
	</message>
	<message name="ClientService_SetToMove_OutputMessage">
		<part name="parameters"
				element="tns:SetToMoveResponse"/>
	</message>
	<portType name="ClientService">
		<operation name="GetFindTyre">
			<input name="GetFindTyreRequest"
					message="tns:ClientService_GetFindTyre_InputMessage"/>
			<output name="GetFindTyreResponse"
					message="tns:ClientService_GetFindTyre_OutputMessage"/>
		</operation>
		<operation name="GetFindDisk">
			<input name="GetFindDiskRequest"
					message="tns:ClientService_GetFindDisk_InputMessage"/>
			<output name="GetFindDiskResponse"
					message="tns:ClientService_GetFindDisk_OutputMessage"/>
		</operation>
		<operation name="GetGoodsPriceRestByCode">
			<input name="GetGoodsPriceRestByCodeRequest"
					message="tns:ClientService_GetGoodsPriceRestByCode_InputMessage"/>
			<output name="GetGoodsPriceRestByCodeResponse"
					message="tns:ClientService_GetGoodsPriceRestByCode_OutputMessage"/>
		</operation>
		<operation name="GetGoodsInfo">
			<input name="GetGoodsInfoRequest"
					message="tns:ClientService_GetGoodsInfo_InputMessage"/>
			<output name="GetGoodsInfoResponse"
					message="tns:ClientService_GetGoodsInfo_OutputMessage"/>
		</operation>
		<operation name="GetGoodsByCar">
			<input name="GetGoodsByCarRequest"
					message="tns:ClientService_GetGoodsByCar_InputMessage"/>
			<output name="GetGoodsByCarResponse"
					message="tns:ClientService_GetGoodsByCar_OutputMessage"/>
		</operation>
		<operation name="GetMarkaAvto">
			<input name="GetMarkaAvtoRequest"
					message="tns:ClientService_GetMarkaAvto_InputMessage"/>
			<output name="GetMarkaAvtoResponse"
					message="tns:ClientService_GetMarkaAvto_OutputMessage"/>
		</operation>
		<operation name="GetModelAvto">
			<input name="GetModelAvtoRequest"
					message="tns:ClientService_GetModelAvto_InputMessage"/>
			<output name="GetModelAvtoResponse"
					message="tns:ClientService_GetModelAvto_OutputMessage"/>
		</operation>
		<operation name="GetYearAvto">
			<input name="GetYearAvtoRequest"
					message="tns:ClientService_GetYearAvto_InputMessage"/>
			<output name="GetYearAvtoResponse"
					message="tns:ClientService_GetYearAvto_OutputMessage"/>
		</operation>
		<operation name="GetModificationAvto">
			<input name="GetModificationAvtoRequest"
					message="tns:ClientService_GetModificationAvto_InputMessage"/>
			<output name="GetModificationAvtoResponse"
					message="tns:ClientService_GetModificationAvto_OutputMessage"/>
		</operation>
		<operation name="SetRest">
			<input name="SetRestRequest"
					message="tns:ClientService_SetRest_InputMessage"/>
			<output name="SetRestResponse"
					message="tns:ClientService_SetRest_OutputMessage"/>
		</operation>
		<operation name="SetPrice">
			<input name="SetPriceRequest"
					message="tns:ClientService_SetPrice_InputMessage"/>
			<output name="SetPriceResponse"
					message="tns:ClientService_SetPrice_OutputMessage"/>
		</operation>
		<operation name="CreateOrder">
			<input name="CreateOrderRequest"
					message="tns:ClientService_CreateOrder_InputMessage"/>
			<output name="CreateOrderResponse"
					message="tns:ClientService_CreateOrder_OutputMessage"/>
		</operation>
		<operation name="GetChangeOrder">
			<input name="GetChangeOrderRequest"
					message="tns:ClientService_GetChangeOrder_InputMessage"/>
			<output name="GetChangeOrderResponse"
					message="tns:ClientService_GetChangeOrder_OutputMessage"/>
		</operation>
		<operation name="SetOrderStatus">
			<input name="SetOrderStatusRequest"
					message="tns:ClientService_SetOrderStatus_InputMessage"/>
			<output name="SetOrderStatusResponse"
					message="tns:ClientService_SetOrderStatus_OutputMessage"/>
		</operation>
		<operation name="SetOrderStatusSatellite">
			<input name="SetOrderStatusSatelliteRequest"
					message="tns:ClientService_SetOrderStatusSatellite_InputMessage"/>
			<output name="SetOrderStatusSatelliteResponse"
					message="tns:ClientService_SetOrderStatusSatellite_OutputMessage"/>
		</operation>
		<operation name="GetOrderStatus">
			<input name="GetOrderStatusRequest"
					message="tns:ClientService_GetOrderStatus_InputMessage"/>
			<output name="GetOrderStatusResponse"
					message="tns:ClientService_GetOrderStatus_OutputMessage"/>
		</operation>
		<operation name="SetMergeOrders">
			<input name="SetMergeOrdersRequest"
					message="tns:ClientService_SetMergeOrders_InputMessage"/>
			<output name="SetMergeOrdersResponse"
					message="tns:ClientService_SetMergeOrders_OutputMessage"/>
		</operation>
		<operation name="GetOrderInfo">
			<input name="GetOrderInfoRequest"
					message="tns:ClientService_GetOrderInfo_InputMessage"/>
			<output name="GetOrderInfoResponse"
					message="tns:ClientService_GetOrderInfo_OutputMessage"/>
		</operation>
		<operation name="GetStatusList">
			<input name="GetStatusListRequest"
					message="tns:ClientService_GetStatusList_InputMessage"/>
			<output name="GetStatusListResponse"
					message="tns:ClientService_GetStatusList_OutputMessage"/>
		</operation>
		<operation name="GetOrderComment">
			<input name="GetOrderCommentRequest"
					message="tns:ClientService_GetOrderComment_InputMessage"/>
			<output name="GetOrderCommentResponse"
					message="tns:ClientService_GetOrderComment_OutputMessage"/>
		</operation>
		<operation name="GetUserList">
			<input name="GetUserListRequest"
					message="tns:ClientService_GetUserList_InputMessage"/>
			<output name="GetUserListResponse"
					message="tns:ClientService_GetUserList_OutputMessage"/>
		</operation>
		<operation name="SetOrderComment">
			<input name="SetOrderCommentRequest"
					message="tns:ClientService_SetOrderComment_InputMessage"/>
			<output name="SetOrderCommentResponse"
					message="tns:ClientService_SetOrderComment_OutputMessage"/>
		</operation>
		<operation name="SetCancelDelivery">
			<input name="SetCancelDeliveryRequest"
					message="tns:ClientService_SetCancelDelivery_InputMessage"/>
			<output name="SetCancelDeliveryResponse"
					message="tns:ClientService_SetCancelDelivery_OutputMessage"/>
		</operation>
		<operation name="SetDeliveryInfo">
			<input name="SetDeliveryInfoRequest"
					message="tns:ClientService_SetDeliveryInfo_InputMessage"/>
			<output name="SetDeliveryInfoResponse"
					message="tns:ClientService_SetDeliveryInfo_OutputMessage"/>
		</operation>
		<operation name="GetWarehouses">
			<input name="GetWarehousesRequest"
					message="tns:ClientService_GetWarehouses_InputMessage"/>
			<output name="GetWarehousesResponse"
					message="tns:ClientService_GetWarehouses_OutputMessage"/>
		</operation>
		<operation name="Ping">
			<input name="PingRequest"
					message="tns:ClientService_Ping_InputMessage"/>
			<output name="PingResponse"
					message="tns:ClientService_Ping_OutputMessage"/>
		</operation>
		<operation name="SetToMove">
			<input name="SetToMoveRequest"
					message="tns:ClientService_SetToMove_InputMessage"/>
			<output name="SetToMoveResponse"
					message="tns:ClientService_SetToMove_OutputMessage"/>
		</operation>
	</portType>
	<binding name="BasicHttpBinding_ClientService"
			type="tns:ClientService">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetFindTyre">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetFindTyre"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetFindDisk">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetFindDisk"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetGoodsPriceRestByCode">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetGoodsPriceRestByCode"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetGoodsInfo">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetGoodsInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetGoodsByCar">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetGoodsByCar"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetMarkaAvto">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetMarkaAvto"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetModelAvto">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetModelAvto"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetYearAvto">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetYearAvto"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetModificationAvto">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetModificationAvto"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetRest">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetRest"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetPrice">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetPrice"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateOrder">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/CreateOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetChangeOrder">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetChangeOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOrderStatus">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetOrderStatus"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOrderStatusSatellite">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetOrderStatusSatellite"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderStatus">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetOrderStatus"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetMergeOrders">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetMergeOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderInfo">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetOrderInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetStatusList">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetStatusList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrderComment">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetOrderComment"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetUserList">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetUserList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOrderComment">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetOrderComment"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetCancelDelivery">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetCancelDelivery"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetDeliveryInfo">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetDeliveryInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetWarehouses">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/GetWarehouses"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Ping">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/Ping"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetToMove">
			<soapbind:operation style="document"
					soapAction="Wcf.ClientService.Client.WebAPI.TS3/ClientService/SetToMove"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ClientService">
		<port name="BasicHttpBinding_ClientService"
				binding="tns:BasicHttpBinding_ClientService">
			<soapbind:address location="http://api-b2b.pwrs.ru/WCF/ClientService.svc"/>
		</port>
	</service>
</definitions>